body {
    background-color: hsl(133, 20%, 49%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    height: auto;
    width: 500px;
    
}
.index {
    line-height: 200%;
    font-size: 22px;
    text-align: center;
}
.intro {
    text-align: center;
}
h1 {
    text-align: center;
}
.center {
    text-align: center;
}
.steps {
    margin-left: 43%;  
}
.shells {
    text-align: center;
    margin-right: 2%;
}