* {
    text-align: center;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: hsl(133, 20%, 49%);

}
div {
    font-size: 20px;
    line-height: 40px;
}
img {
    height: auto;
    width: 300px;
}